*.txss
*.blg
*.log
*.aux
*.out
*.gz
*.toc
*.exe
source/.vs/
source/__pycache__/
source/_build/
pthreads-w32-2-9-1/
examples/pthreads-w32-2-9-1/
x86/
x64/
examples/x86/
examples/x64/
examples/.vs/
source/preprocessor/ast.cmi
source/preprocessor/lexer.cmi
source/preprocessor/lexer.cmo
source/preprocessor/lexer.ml
source/preprocessor/parser.cmi
source/preprocessor/parser.cmo
source/preprocessor/parser.ml
source/preprocessor/parser.mli
source/preprocessor/pp.cmi
source/preprocessor/pp.cmo
.vs/
*.pyproj
*.user
*.sln
*.vcxproj
*.filters
source/obj/ast.ml
source/lepixc
