*.txss
*.blg
*.log
*.aux
*.out
*.gz
*.toc
source/.vs/bootstrap/v14/.suo
source/__pycache__/ninja_syntax.cpython-35.pyc
*.exe
source/preprocessor/ast.cmi
source/preprocessor/lexer.cmi
source/preprocessor/lexer.cmo
source/preprocessor/lexer.ml
source/preprocessor/parser.cmi
source/preprocessor/parser.cmo
source/preprocessor/parser.ml
source/preprocessor/parser.mli
source/preprocessor/pp.cmi
source/preprocessor/pp.cmo
examples/pthreads-w32-2-9-1/
examples/x86/
examples/main_parallel_2d
examples/.vs/examples/v14/.suo
source/parser.mli
source/parser.ml
source/scanner.ml
source/lepix.native
source/parser.output
source/*.cmx
source/*.cmi
source/*.cmo
source/*.cmx
source/*.o

