dist: trusty
sudo: required

services:
     - docker

before_install:
     - docker pull ubuntu:latest

script:
     - docker run -v${PWD} -t ubuntu:yakkety bash -c "ci/travis_run.sh"

notifications:
     email:
          on_success: change
          on_failure: change
