language: cpp
sudo: required
dist: trusty

install:
     - sudo apt install python python3
     - sudo apt install build-essential ocaml opam llvm llvm-dev git llvm.3.8
	 - opam init
     - opam install llvm
     - opam install llvm.3.8
     - opam llvm depext llvm
     - opam llvm depext llvm.3.8
     - eval $(opam config env)

script:
     cd source
     make lepix
     cd ..
     python tests/tests.py
     cd ..

notifications:
     email:
          on_success: change
          on_failure: change
