dist: trusty
sudo: required

services:
     - docker

before_install:
     - docker pull ubuntu:latest

script:
     - docker run -v${PWD}:/ci_repo -t ubuntu:yakkety bash -e -v -c "cd ci_repo && chmod +x ci/travis_run.sh && source ci/travis_run.sh"

notifications:
     email:
          on_success: change
          on_failure: change
